

<div class="report today">
	<h2>Today</h2>
	<% if @user.working_today %>
		<p class="info">Signed in at <strong><%=@user.working_today.check_in.strftime("%H:%M") %></strong></p>
		<div class="box">
			<div class="inner">
				<h3><%=today_completed / 60  %><small>h</small> <%=today_completed % 60 %><small>min</small></h3>
				<div class="progress"><div style=<%="width:#{today_percent}%"%>>&nbsp;</div></div>
				<p><strong><%= today_to_go / 60 %></strong> hours <strong><%= today_to_go % 60 %></strong> minutes to go</p>
			</div> <!-- end .inner -->
		</div> <!-- end .box -->
	<%else  %>
		<div class="box" style="padding-top:40px;padding-bottom:40px;">
			<div class="inner">
				<p> Oops! Data is not available yet :-( </p>
			</div> <!-- end .inner -->
		</div> <!-- end .box -->
	<% end %>		
</div> <!-- end .report -->
