<div class="report weekly">
	<table id ="team_table" cellspacing="0">
		<thead>
			<tr>
				<th>Team Member</th>
				<th>Week</th>
				<th># Working Days</th>
				<th># Hours Spent</th>
                <th>Daily Average</th>
                <th></th>
			</tr>
		</thead>
		<tbody>
		<%  @user.developers.each do |dev| -%>
			<tr class = "<%= cycle("alt","white") -%>">
				<td> <%=dev.name %> </td>
				<td> <%= week_value(manager_week[0]) %></td>
				<td> <%=dev.weeked_working_days(manager_week[0]).length%> </td>
				<td><%=to_time(week_completed(manager_week[0],dev))%> </td>
                <td><%=to_time(week_average(manager_week[0],dev))%></td>
                <td> 
                  <button id="<%=dev.id%>" class="link_to_chart" type="button">&gt;</button>
                  <button class="collapse_chart" type="button">&lt;</button>                
                </td>
			</tr>
		<% end -%>
		</tbody>
	</table>
</div>

