

<script type="text/javascript">
  $(document).ready( function () {
         jQuery.getJSON('/dashboard/daily_bars', function(data) {
          dailychart("#daily-bars",data[0].data);
          });
            $("#scrollF").click(function() {
           jQuery.getJSON('/dashboard/daily_bars/forward', function(data) {
               dailychart("#daily-bars",data[0].data);
               });    
          });
         $("#scrollB").click(function() {
          jQuery.getJSON('/dashboard/daily_bars/back', function(data) {
               dailychart("#daily-bars",data[0].data);
               });    
          });
     });
</script>

<%= render(:partial => "week_report") %>

<%= render (:partial => 'day_report')%>


<div class="clear"></div>
<div class="report weekly">
	<h2>Your Weekly Stats </h2>
	<table cellspacing="0">
		<thead>
          <th>Week</th>
          <th>Daily Average</th>
          <th># Working Days</th>
		  <th># Hours Spent</th>
		</thead>
        <tbody>
          <!--TODO: Performace optimization required -->
			<% @user.logged_working_weeks.slice(0,5).each do |lww| %>
			<tr class = "<%= cycle("alt","white") -%>">
                <td><%= "#{week_first_day(lww[0]).to_s} - #{week_last_day(lww[0])}" %></td>
              	<td><%=to_time(week_average(lww[0]))%></td>
                <td><%=@user.weeked_working_days(lww[0]).length%> </td>
				<td><%=to_time(week_completed(lww[0]))%> </td>
			</tr>
			<%end%>
		</tbody>
	</table>
  </div>

<h2>Your Daily Stats </h2>

<div id='daily-bars' class='graph' style='width: 680px; height: 150px; margin: 20px;'></div>

<button id="scrollB" type="button">&lt;&lt;</button>
<button id="scrollF" type="button">&gt;&gt;</button>

<div class="clear"></div>




