

<%= render(:partial => "week_report") %>

<%= render (:partial => 'day_report')%>


<div class="clear"></div>

<div class="report weekly">
	<h2>Your Weekly Stats </h2>
	<table cellspacing="0">
		<thead>
          <th>Week</th>
          <th>Daily Average</th>
          <th># Working Days</th>
		  <th># Hours Spent</th>
		</thead>
        <tbody>
          <!--TODO: Performace optimization required -->
			<% @user.logged_working_weeks.slice(0,5).each do |lww| %>
			<tr id="<%=lww[0]%>" title="Click to update the chart below" class = "<%= cycle("alt","white") -%>">
                <td><%= "#{week_value(lww[0])}" %></td>
              	<td><%=to_time(week_average(lww[0]))%></td>
                <td><%=@user.weeked_working_days(lww[0]).length%> </td>
				<td><%=to_time(week_completed(lww[0]))%> </td>
			</tr>
			<%end%>
		</tbody>
	</table>
  </div>

 <div class="report daily">
	<h2>Your Daily Stats</h2>
	<div class="chart-head">
		<a id="scrollB" href="#">&laquo;</a>
		<!--TODO --> 
		
		<%=week_value(@week_id)%> 
		<a id="scrollF" href="#">&raquo;</a>
	</div>
	<div class="inner">
		<img class="ajax-loader" src="/images/ajax-loader.gif" alt="" />
		<div id="daily-bars" class="graph"></div>
	</div>
	<!-- 
	<button id="scrollB" type="button">&lt;&lt;</button>
	<button id="scrollF" type="button">&gt;&gt;</button>
	-->
 </div> <!-- end .report -->

<div class="clear"></div>




