

<%= render(:partial => "week_report") %>

<%= render (:partial => 'day_report')%>


<div class="clear"></div>

<div class="report my-weekly">
	<h2>My Weekly Stats </h2>
	<table cellspacing="0">
		<thead>
          <th class="column-week">Week</th>
          <th>Daily Average</th>
          <th># Working Days</th>
		  <th># Hours Spent</th>
		</thead>
        <tbody>
          <!--TODO: Performace optimization required -->
			<% @user.logged_working_weeks.slice(0,5).each do |lww| %>
			<tr id="<%='week_'+lww[0].to_s%>" class = "<%= cycle("white","alt") -%>" title="Click to update the chart below">
                <td class="column-week"><%= "#{week_value(lww[0])}" %></td>
              	<td><%=to_time(week_average(lww[0]))%></td>
                <td><%=@user.weeked_working_days(lww[0]).length%> </td>
				<td><%=to_time(week_completed(lww[0]))%> </td>
			</tr>
			<%end%>
		</tbody>
	</table>
  </div>

 <div class="report daily">
	<h2>My Daily Stats</h2>
	<div class="chart-head">
		<h3>
			<a id="scrollB" href="#"></a>
			<span id="week_value"></span>
			<a id="scrollF" href="#"></a>
		</h3>
	</div> <!-- end .chart-head -->
	<div class="inner">
		<img class="ajax-loader" src="/images/ajax-loader.gif" alt="" />
		<div id="daily-bars" class="graph"></div>
		<ul class="legend">
			<li class="red"><div></div>Below 8:30</li>
			<li class="yellow"><div></div>Between 8:30 and 9:00</li>
			<li class="green"><div></div>Above 9:00</li>
			<li class="grey last"><div></div>Weekend</li>
		</ul> <!-- end .legend -->
	</div> <!-- end .inner -->
 </div> <!-- end .report -->

<div class="clear"></div>

