<div id="load" class="alert inform" style="margin-bottom:7px">
    <!-- TODO: Use Partials-->
    <a href="#" class="hide"></a>
    <span>Last data load was performed on <strong>29 Apr 2011</strong> at <strong>14:54</strong></span>
 </div> <!-- end #last_load -->

<% if @user.alert then %>
    <!-- TODO: Use Partials-->
    <div id="outliers" class="alert warning">
        <a href="#" class="hide"></a>
        <span><%= "You #{@user.alert} during last two weeks" %></span>
    </div> <!-- end #outliers -->
<%else%>
    <div id="outliers" class="alert success">
        <a href="#" class="hide"></a>
        <span><%= "Your attendance is great during last two weeks!" %></span>
     </div> <!-- end #outliers -->
<%end%>

<div class="clear"></div>

<div class="report my-weekly">
	<h2>My Weekly Stats </h2>
	<table cellspacing="0">
		<thead>
          <th class="column-week">Week</th>
          <th>Daily Average</th>
          <th># Working Days</th>
		  <th># Hours Spent</th>
		</thead>
        <tbody>
          <!--TODO: Performace optimization required -->
			<% @user.logged_working_weeks.slice(0,5).each do |lww| %>
			<tr id="<%='week_'+lww[0].to_s%>" class = "<%= cycle("white","alt") -%>" title="Click to update the chart below">
                <td class="column-week"><%= "#{week_value(lww[0])}" %></td>
              	<td><%=to_time(@user.week_average(lww[0]))%></td>
                <td><%=@user.weeked_working_days(lww[0]).select{|day| not day.visit_day?}.length%> </td>
				<td><%=to_time(@user.week_completed(lww[0]))%> </td>
			</tr>
			<%end%>
		</tbody>
	</table>
  </div>

 <div class="report daily">
	<h2>My Daily Stats</h2>
	<div id="week_shower" class="chart-head">

	</div> <!-- end .chart-head -->
	<div class="inner">
		<div class="chart-container">
			<div id="daily-bars" class="graph"></div>
			<img class="ajax-loader" src="/images/ajax-loader.gif" alt="" />
		</div> <!-- end .chart-container -->
		<ul class="legend">
			<li class="red"><div></div>Below 8:30</li>
			<li class="yellow"><div></div>Between 8:30 and 9:00</li>
			<li class="green"><div></div>Above 9:00</li>
			<li class="grey last"><div></div>Weekend</li>
		</ul> <!-- end .legend -->
	</div> <!-- end .inner -->
 </div> <!-- end .report -->

<div class="clear"></div>

