  <div id="outliers">
    <a href="#" class="hide"></a>
    <!-- TODO: Use Partials-->
    <% if @user.should_worry? then %>
      <h3> During Last two weeks</h3>
      <br/>
	  <ul>
      <%  @group.alerts.each_pair do |dev_name, message| %>
        <li><%= "<b> #{dev_name} </b> #{message} " %></li>
      <%end%>
	  </ul>
    <%else%>
      <%= "Your team is Working Great" %>
    <%end%> 
  </div> <!-- end #outliers -->

	<!-- 
	<div class="red-message">
	  <b style="float: right" class="hide"> X </b>
	  Still not in the office: <b>Jim Beam </b>
	</div>
	-->

	<div class="clear"></div>
   
    <div class="time-range" id="week_timerange">
      <div class="select-range">
        <input id="radio_week" type="radio" name="range" value="week" /> <b>Week </b>
        <input id="radio_month" type="radio" name="range" value="month" /> <b>Month</b>
      </div>
        <%= select( "week", "id", @weeks.map {|w| [week_value(w[0]),'week_'+w[0].to_s]}) %>
        <%= select( "month", "id", @months.map {|m| [month_value(m[0]),'month_'+m[0].to_s]}) %>
    </div>
      <!-- end .time-range -->

	<h2>My Team Stats</h2>

	<div id="ajax_week">
	<!-- <p> My Team Data for the week </p> -->
	</div> <!-- end #ajax_week -->
    
    <br/>
    <h2>Daily Average Trend</h2>
    <br/>
    <div class="inner">
      <%= select ("focususer", "id",@group.developers.map {|dev| [dev.name,'focususer_'+ dev.id.to_s]}) %>
      <!--TODO: Remove inline styling -->  
      <div id="line_trend" style="height: 260px; margin-bottom: -30px;"></div>
      	<ul class="legend">
			<li class="css_red"><div></div>Team Average</li>
			<li class="blue"><div></div>Daily Average</li>
		</ul> <!-- end .legend -->
    </div><!-- end .inner -->
