<% if @user.should_worry? then %>
    <!-- TODO: Use Partials-->
    <div id="outliers" class="alert warning">
        <a href="#" class="hide"></a>
        <h3>During last two weeks:</h3>
        <ul>
            <%  @group.alerts.each_pair do |dev_name, message| %>
            <li><%= "<strong> #{dev_name} </strong> #{message} " %></li>
            <%end%>
        </ul>
    </div> <!-- end #outliers -->
<%else%>
    <div id="outliers" class="alert success">
        <a href="#" class="hide"></a>
        <span><%= "Your team's attendance is great during last two weeks!" %></span>
    </div> <!-- end #outliers -->
<%end%>


	<!-- 
	<div class="red-message">
	  <b style="float: right" class="hide"> X </b>
	  Still not in the office: <b>Jim Beam </b>
	</div>
	-->

	<div class="clear"></div>

	<h2 class="left">My Team Stats</h2>

    <div class="time-range">
        <%= select( "week", "id", @weeks.map {|w| [week_value(w[0], w[1]),'week_'+w[0].to_s + '-' + w[1].to_s]}) %>
        <%= select( "month", "id", @months.map {|m| [month_value(m[0]),'month_'+m[0].to_s + '-' + m[1].to_s]}) %>
        <ul>
            <li>
                <input id="radio_week" type="radio" class="radio" name="range" value="week" />
                <label for="radio_week">Week</label>
            </li>
            <li>
                <input id="radio_month" type="radio"  class="radio" name="range" value="month" />
                <label for="radio_month">Month</label>
            </li>
        </ul>
		<img src="/images/ajax-loader-2.gif" alt="" />
    </div> <!-- end .time-range -->

    <div class="clear"></div>

	<div id="ajax_week">
	<!-- <p> My Team Data for the week </p> -->
	</div> <!-- end #ajax_week -->

    <div class="report trend">
      <h2>Daily Average Trend</h2>
      	<div class="chart-head">
            <label>Person:</label> <%= select ("focususer", "id",@group.developers.map {|dev| [dev.name,'focususer_'+ dev.id.to_s]}) %>
	    </div> <!-- end .chart-head -->
       <div class="inner">
           <div class="chart-container">
               <div id="line_trend" class="graph" style=""></div>
               <img class="ajax-loader" src="/images/ajax-loader.gif" alt="" />
           </div> <!-- end .chart-container -->
           <ul class="legend">
                <li class="red"><div></div>Team Daily Average</li>
                <li class="blue last"><div></div>Person Daily Average</li>
           </ul> <!-- end .legend -->
       </div> <!-- end .inner -->
    </div> <!-- end .report -->
