	<table id="team_table" cellspacing="0">
		<thead>
			<tr>
				<th>Entry Type</th>
                <th>Time</th>
                <th></th>
                <!-- <th><img src="/images/bar-chart.png" alt="" /></th> -->
			</tr>
          </thead>
          <tbody>
              <%@wd.records.select {|r| r.submit_type == 'manual'}.each do |mr| %> 
              <tr class = "<%= cycle("white","alt") -%>">
                  <td> Check-in or Check-out </td>
                  <td> <%= mr.click_date.strftime("%m/%d/%Y %H:%M") %></td>
                  <td> X </td>
              </tr>
             <%end %>
             <%[@wd.homework].each do |h| %> 
              <tr class = "<%= cycle("white","alt") -%>">
                  <td> Homework </td>
                  <td> <%= h.check_in.strftime("%m/%d/%Y %H:%M") %> - <br/>
                       <%= h.check_out.strftime("%m/%d/%Y %H:%M") %>
                  </td>
                  <td> X </td>
              </tr>
              <%end %>
          </tbody>
	</table>

