<div class="report team-monthly">
	<table id="team_table" cellspacing="0">
		<thead>
			<tr>
				<th class="column-name">Team Member</th>
                <th class="column-week">Month</th>
                <th>Team Average</th>
				<th>Daily Average</th>
				<th># Working Days</th>
			    <!-- <th><img src="/images/bar-chart.png" alt="" /></th> -->
			</tr>
		</thead>
		<tbody>
		<%  @developers.each do |dev| -%>
			<tr class = "<%= cycle("white","alt") -%>">
				<td> <%=dev.name %> </td>
                <td> <%= month_value(@month_id) %></td>
                <td> <%=to_time(@group_average)%> </td>
				<td> <%=to_time(dev.month_average(@month_id, @year))%></td>
				<td> <%=dev.month_working_days(@month_id, @year).length%> </td>
			  <!--  <td> 
                  <button id="<%='user_' + dev.id.to_s%>" class="link_to_chart" type="button">→</button>
                  <button class="collapse_chart" type="button">←</button>
                 
                </td> -->
			</tr>
		<% end -%>
		</tbody>
	</table>
</div> <!-- end .report .team-weekly -->

