<%= javascript_include_tag 'jquery'  %>
<%= javascript_include_tag 'jquery.url'  %>
<%= javascript_include_tag 'enumerable'  %>
<%= javascript_include_tag 'tufte-graph'  %>
<%= javascript_include_tag 'raphael' %>
<%= javascript_include_tag 'application' %>

<div class="report weekly">
	<table id ="team_table" cellspacing="0">
		<thead>
			<tr>
				<th>Team Member</th>
				<th>Week</th>
				<th># Working Days</th>
				<th># Hours Spent</th>
                <th>Daily Average</th>
                <th></th>
			</tr>
		</thead>
		<tbody>
		<%  @user.developers.each do |dev| -%>
			<tr class = "<%= cycle("alt","white") -%>">
				<td> <%=dev.name %> </td>
				<td> <%= week_value(@week_id) %></td>
				<td> <%=dev.weeked_working_days(@week_id).length%> </td>
				<td> <%=to_time(week_completed(@week_id,dev))%> </td>
                <td> <%=to_time(week_average(@week_id,dev))%></td>
                <td> 
                  <button id="<%=dev.id%>" class="link_to_chart" type="button">&gt;</button>
                  <button class="collapse_chart" type="button">&lt;</button>
                </td>
			</tr>
		<% end -%>
		</tbody>
	</table>
</div>


