<div class="report team-weekly">
	<table id="team_table" cellspacing="0">
		<thead>
			<tr>
				<th class="column-name">Team Member</th>
                <th class="column-week">Week</th>
                <th>Team Average</th>
				<th>Daily Average</th>
				<th># Working Days</th>
				<th># Hours Spent</th>
                <th><img src="/images/bar-chart.png" alt="" /></th>
			</tr>
		</thead>
		<tbody>
		<%  @developers.each do |dev| -%>
			<tr class = "<%= cycle("white","alt") -%>">
				<td> <%=dev.name %> </td>
                <td> <%= week_value(@week_id) %></td>
                <td> <%=to_time(@selected_group.week_average(@week_id)) %> </td>
				<td> <%=to_time(dev.week_average(@week_id))%></td>
				<td> <%=dev.weeked_working_days(@week_id).length%> </td>
				<td> <%=to_time(dev.week_completed(@week_id))%> </td>
                <td> 
                  <button id="<%='user_' + dev.id.to_s%>" class="link_to_chart" type="button">→</button>
                  <button class="collapse_chart" type="button">←</button>
                </td>
			</tr>
		<% end -%>
		</tbody>
	</table>
</div> <!-- end .report .team-weekly -->


