
<% form_for @user,:as => :user, :url => user_path(@user), :html => {:class => 'input_form'} do |form| %>  
  <%= form.error_messages %>  
  <p>  
    <%= form.text_field :login %>
    <%= form.label :login, "Login" %>  <br/>
  </p>
  <p>  
    <%= form.text_field :name %>
    <%= form.label :name, "Name" %>  <br/>
  </p>
  <p>  
    <%= form.text_field :email %>
    <%= form.label :email, "Email" %>  <br/>
  </p>  
  <p>  
    <%= form.password_field :password %>
    <%= form.label :password, "Password" %>  <br/>
  </p>  
  <p>  
    <%= form.password_field :password_confirmation %>  
    <%= form.label :password_confirmation, "Password confirmation" %>  <br/>
  </p>  

  <%= form.submit "Submit" %>  

<% end %> 

