<div id="settings" class="dialog">

  <h2>Settings <a class="close" href="#"></a></h2>

  <div class="inner">

	<div class="tabs">
	
		<ul class="tabNav">
			<li><a href="#lunch_time">Lunch Time</a></li>
			<li><a href="#personal_info">Password</a></li>
		</ul>
		
		<div id="lunch_time">
		
			<!--		
			<div class="why">
				<label>Action:</label>
				<ul>
					<li><label><input id="set_lunch_time" name="why" size="30" type="radio" class="radio" checked="checked" />I want to set my normal lunch time staring from particular date </label></li>
					<li><label><input id="update_lunch_time" name="why" size="30" type="radio" class="radio" /> I want to update my lunch time for particular day/period</label></li>
				</ul>
			  </div> 
			  -->

			<form action="users/set_lunch_time"  method="post" id="set_lunch_form">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
				<div>
					<label>Current lunch time:</label>
					<span class="regular">45 min</span>
				</div>
				<div>
					<label for="l_period">New lunch time:</label>
					<span><input id="l_period" name="user[lunch_time_setting]" size="10" type="text" class="text" title="in minutes" /></span>
				</div>
				<div>
					<label for="lunch_from_date">Effective From:</label>
					<span class="date"><input id="lunch_from_date" name="lunch_update_from_date" size="30" type="text" class="text" title="yyyy-mm-dd" /></span>
				</div>
				<div class="btn">
					<input id="lunch_set" name="lunch_set" type="submit" class="button" value="Set New Lunch Time" />
					or <a class="close" href="#">Cancel</a>
				</div>
			  </form> <!-- end form#set_lunch -->


			<!--   
			<form action="/lunch_time" method="post" id="update_lunch_form">
			   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
				<div>
					<label for="start_date">Start Date:</label>
					<span class="date"><input id="start_date" name="lunch[start_date]" size="30" type="text" class="text" title="yyyy-mm-dd" /></span>
				</div>
				<div>
				  <label for="end_date">Start Date:</label>
				  <span class="date"><input id="end_date" name="lunch[end_date]" size="30" type="text" class="text" title="yyyy-mm-dd" /></span>
				</div>
				<div class="btn">
					<input id="lunch_update" name="lunch_update" type="submit" class="button" value="Submit" />
					or <a class="close" href="#">Cancel</a>
				</div>
			  </form>
			 -->
		
		</div> <!-- end #lunch_time -->
			
		<div id="personal_info">
		
			<%if flash[:settings_error]%>
			<span class="alert error"><span><%= flash[:settings_error]%></span></span>
			<%elsif flash[:settings_notice]%>    
			<span class="alert success"><span><%= flash[:settings_notice]%></span></span>
			<%else%>
			<%end%>

			  <form action="/users/update"  method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
					<div>
						<label for="old_password">Current password:</label>
						<input id="old_password" name="old_password" size="30" type="password" class="text" />
					</div>
					<div>
						<label for="new_password">New password:</label>
						<input id="new_password" name="user[password]" size="30" type="password" class="text" />
					</div>
					<div>
						<label for="confirm_new_password">Confirm new password:</label>
						<input id="confirm_new_password" name="user[password_confirmation]" size="30" type="password" class="text" />
					</div>
					<div class="btn">
						<input id="settings_submit" name="settings_submit" type="submit" class="button" value="Change Password" />
						or <a class="close" href="#">Cancel</a>
					</div>
				</form> <!-- end form#forgot -->
		
			</div> <!-- end #personal_info -->
			
		
		</div>  <!-- end .tabs -->		
     
	</div> <!-- end .inner -->
	
	<div class="dialog-footer"></div>
	
</div> <!-- end .dialog #settings -->
