<% title 'log for your records' %>
 
<%= link_to "Add New Row", :action => "new" %>
<br/>
<br/>

  <h3>Working days </h3>
	<table border="1">
    <tr>
		<th>User</th>
		<th>Working Day</th>
    	<th>Check In Time</th>
		<th>Check Out Time</th>
		<th>Duration in Minutes</th>
    </tr>
  <% @logged_working_days.each do |lwd| %>
	<tr>
   		<td> <%=lwd.login %></td>
    	<td> <%=lwd.wday %></td>
    	<td> <%=lwd.check_in %></td>
    	<td><%=lwd.check_out %></td>
    	<td><%=lwd.duration %></td>
	</tr>
  <%end%>
</table>

<h3> Detailed Records </h3>
    <table border="1">
      <tr>
        <th>User</th>
        <th>Time Of Entry</th>
      </tr>
      
      <% @logged_records.each do |rec| %>
        <tr>
          <td> <%=rec.login %> </td> 
          <td> <%=rec.click_date_string %> </td>
          <td> <%=rec.working_day_id %> </td>
        </tr>
    <% end %>
  </table>
  <br/>



