
    <h2> Use the form below to submit your homework </h2>
	<br/>
    <% form_for @homework, :html => {:class => 'input_form'} do |f| %>
      <%= f.error_messages %>

	<p>
		<%=   f.text_field :check_in_string %>
    	<%=   f.label :check_in %>
  	</p>

	<p>
	 <%=    f.text_field :check_out_string %>	
     <%=   f.label :check_out %>
 	</p>

   <%=    f.submit "Add HomeWork"%>
 <% end %>

