<% title "Log in" %>  

<div class="alert error">Username/password combination not found :-(</div>
  
<% form_for @user_session, :html => {:class => 'input_form'} do |form| %>  
 
<ul class="formList">  
 <p>  
    <%= form.label :login, "Username" %>  <br/>
    <%= form.text_field :login %>  
  </p>  
  <p>  
    <%= form.label :password, "Password" %>  <br/>
    <%= form.password_field :password %>  
  </p>  
 
    <%= form.submit "Submit" %>  
 
</ul>  
<% end %>

