<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%=(current_user.name + " | " if current_user) %> Enkata Entrypoint</title>
    <%= stylesheet_link_tag 'application' %>

    <%= javascript_include_tag 'jquery'  %>
    <%= javascript_include_tag 'jquery.url'  %>
    <%= javascript_include_tag 'enumerable'  %>
    <%= javascript_include_tag 'tufte-graph'  %>
    <%= javascript_include_tag 'raphael' %>
    <%= javascript_include_tag 'application' %>

    <%= yield(:head) %>
  </head>

  <body id="home">

    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>

        <div id="header">
          <%if @user = current_user%>
            <h1><%="#{@user.name} "%></h1>
            <ul id="menu">
              <li><%= link_to "Dashboard", :controller => 'dashboard' %></li>  
              <%if @user.manager?%>
                <li><%= link_to "Manage", :controller => 'dashboard', :action => 'manage' %></li>
              <%end%>
              <li><a href="#">Log</a> 
              <ul> 
                <li><%= link_to "Entry Record", :controller => 'records', :action =>'new' %></li> 
                <li><%= link_to "Work From Home", :controller => 'homeworks', :action =>'new' %></li> 
              </ul> 
              </li>

              <li><%= link_to "Edit profile", edit_user_path(:current) %> </li> 
              <li><%= link_to "Logout", logout_path %></li>
            </ul>
          <% else %>
            <ul id="menu">  
              <li><%= link_to "Register", new_user_path %> </li> 
              <li><%= link_to "Log in", login_path %></li>
            </ul>
          <%end%>			
        </div>

        <div id="main">
          <div class="wrap">

            <%= yield %>
          </div>
        </div>
      </div>    

    </body>
  </html>
