<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%=(current_user.name + " | " if current_user) %> Enkata Entrypoint</title>
	<%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'datepicker' %>
    <%= javascript_include_tag 'jquery'  %>
    <!--<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js' %>-->
	<%= javascript_include_tag 'jquery.url'  %>
    <%= javascript_include_tag 'enumerable'  %>
    <%= javascript_include_tag 'modal'  %>
	<%= javascript_include_tag 'jquery.tufte-graph'  %>
    <%= javascript_include_tag 'raphael-min' %>
    <%= javascript_include_tag 'raphael.path.methods.js' %>
   
	<%= javascript_include_tag 'datepicker'  %>
	<%= javascript_include_tag 'application' %>
	<%= yield(:head) %>
</head>
<body id="<%=params[:action]%>">

	<div id="container">
	
		<div id="header">   
			
			<h1><%="#{@user.name}"%></h1>
			
            <ul id="tools">
              <%unless @user.director? and not @user.person?%>
                <li class="checkin"><a href="#" rel="checkin" class="dialog-trigger">Check-in</a></li>
              <%end%>  
				<li class="settings"><a href="#" rel="settings" class="dialog-trigger">Settings</a></li>
				<li class="sign-out"><%= link_to "Sign out", logout_path %></li>
			</ul> <!-- end #tools -->
			<%if @user.manager?%>
			<ul id="nav">
				<li class="dashboard"><%= link_to "Me", :controller => 'dashboard' %></li> 
				<li class="manage"><%= link_to "My Team", :controller => 'dashboard', :action => 'manage' %></li>
			</ul> <!-- end #nav -->
			<%elsif @user.director? and @user.person?%>
			<ul id="nav">
				<li class="dashboard"><%= link_to "Me", :controller => 'dashboard' %></li> 
				<li class="manage"><%= link_to "My Teams", :controller => 'dashboard', :action => 'overview' %></li>
			</ul> <!-- end #nav -->
			<%end%>

		</div> <!-- end #header -->

		<div id="main">
			<div class="wrap">
				<%= yield %>
			</div> <!-- end .wrap -->
		</div> <!-- end #main -->
		
		<div id="footer">
			<p class="left">Created by <a href="mailto:sn.kozlov@yahoo.com">Sergey Kozlov</a> & <a href="mailto:ivan.babko@gmail.com">Ivan Babko</a>.</p>
			<p class="right">Built with <!-- <a href="http://html5doctor.com">HTML5</a> |  --> <a href="http://css3.info">CSS3</a> | <a href="http://jquery.com">jQuery</a> | <a href="http://rubyonrails.org">Ruby on Rails</a>. Stored on <a href="https://github.com/sergiokozlov/entry_point">GitHub</a>.</p>
		</div> <!-- end #footer -->
		
	</div> <!-- end #container -->
	
	<%= render (:partial => 'shared/checkin')%>

    <%= render (:partial => 'shared/settings')%>

    <%= render (:partial => 'shared/edit_wd')%>
	
</body>
</html>


