<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%=(current_user.name + " | " if current_user) %> Enkata Entrypoint</title>
	<%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'jquery'  %>
    <!--<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js' %>-->
	<%= javascript_include_tag 'jquery.url'  %>
	<%= javascript_include_tag 'enumerable'  %>
	<%= javascript_include_tag 'tufte-graph'  %>
	<%= javascript_include_tag 'raphael-min' %>
	<%= javascript_include_tag 'application' %>
	<%= yield(:head) %>
</head>
<body id="<%=params[:action]%>">

	<div id="container">
	
		<div id="header">   
			
			<h1><%="#{@user.name}"%></h1>
			
            <ul id="tools">
              <%unless @user.director?%>
                <li class="checkin"><a href="#?w=400" rel="checkin" class="dialog-trigger">Check-in</a></li>
              <%end%>  
				<li class="settings"><a href="#?w=500" rel="settings" class="dialog-trigger">Settings</a> <!-- <%= link_to "Settings", edit_user_path(:current) %> --> </li>
				<li class="sign-out"><%= link_to "Sign out", logout_path %></li>
			</ul> <!-- end #tools -->
			<%if @user.manager?%>
			<ul id="nav">
				<li class="dashboard"><%= link_to "Me", :controller => 'dashboard' %></li> 
				<li class="manage"><%= link_to "My Team", :controller => 'dashboard', :action => 'manage' %></li>
			</ul> <!-- end #nav -->
			<%end%>
			<!-- 
			<ul id="menu">
				<li><a href="#">Log</a> 
					<ul> 
						<li><%= link_to "Entry Record", :controller => 'records', :action =>'new' %></li> 
						<li><%= link_to "Work From Home", :controller => 'homeworks', :action =>'new' %></li> 
					</ul> 
				</li>
			</ul>
			-->
			
		</div> <!-- end #header -->

		<div id="main">
			<div class="wrap">
				<%= yield %>
			</div> <!-- end .wrap -->
		</div> <!-- end #main -->
		
		<div id="footer">
			<p class="left">Created by <a href="mailto:sn.kozlov@yahoo.com">Sergey Kozlov</a> & <a href="http://www.ivanbabko.com">Ivan Babko</a>.</p>
			<p class="right">Built with <a href="http://html5doctor.com">HTML5</a> | <a href="http://css3.info">CSS3</a> | <a href="http://jquery.com">jQuery</a> | <a href="http://rubyonrails.org">Ruby on Rails</a>. Stored on <a href="https://github.com/sergiokozlov/entry_point">GitHub</a>.</p>
		</div> <!-- end #footer -->
		
	</div> <!-- end #container -->
	
	<div id="checkin" class="dialog">
		<h2>Manual Check-In</h2>
		<div class="inner">
			<div class="why">
				<label>Why?</label>
				<ul>
					<li><label><input id="why_forgot" name="why" size="30" type="radio" class="radio" checked="checked" /> I forgot to register</label></li>
					<li><label><input id="why_wfh" name="why" size="30" type="radio" class="radio" /> I worked from home</label></li>
				</ul>
			</div> <!-- end .why -->
			<form id="forgot">
				<div>
					<label for="forgot_date">Date:</label>
					<span class="date"><input id="forgot_date" name="forgot_date" size="30" type="text" class="text" title="31/12/2010" /></span>
				</div>
				<div>
					<label for="forgot_checkin">Check-in:</label>
					<span class="time-checkin"><input id="forgot_checkin" name="forgot_checkin" size="30" type="text" class="text" title="11:30" /></span>
				</div>
				<div>
					<label for="forgot_checkout">Check-out:</label>
					<span class="time-checkout"><input id="forgot_checkout" name="forgot_checkin" size="30" type="text" class="text" title="20:30" /></span>
				</div>
				<div class="btn">
					<input id="forgot_submit" name="forgot_submit" type="submit" class="button" value="Submit" />
					or <a class="close" href="#">Cancel</a>
				</div>
			</form> <!-- end form#forgot -->
			<form id="wfh" style="display:none;">
				<div>
					<label for="wfh_date">Date:</label>
					<span class="date"><input id="wfh_date" name="wfh_date" size="30" type="text" class="text" title="31/12/2010" /></span>
				</div>
				<div>
					<label for="wfh_checkin">Check-in:</label>
					<span class="time-checkin"><input id="wfh_checkin" name="wfh_checkin" size="30" type="text" class="text" title="11:30" /></span>
				</div>
				<div>
					<label for="wfh_checkout">Check-out:</label>
					<span class="time-checkout"><input id="wfh_checkout" name="wfh_checkin" size="30" type="text" class="text" title="20:30" /></span>
				</div>
				<div class="btn">
					<input id="wfh_submit" name="wfh_submit" type="submit" class="button" value="Submit" />
					or <a class="close" href="#">Cancel</a>
				</div>
			</form> <!-- end form#wfh -->
		</div> <!-- end .inner -->
		<div class="dialog-footer">
			Psst! Don't cheat!
		</div><!-- end .dialog-footer -->
	</div> <!-- end .dialog #check-in -->

	<div id="settings" class="dialog">
		Settings
	</div> <!-- end .dialog #settings -->
	
	
</body>
</html>


